<div id="card">
  <div id="inside" [style.background-color]="backgroundColor()">
    <header>
      <div class="left">
        <div id="name">{{monster().name}}</div>
      </div>
      <div class="right">
        <div id="hp">{{monster().hp}} HP</div>
        <img class="energy icon" [src]="MonsterTypeIcon()">
      </div>
    </header>
    <figure id="art">
      <img [src]="monster().image" alt="pikachu">
      <figcaption>{{monster().figureCaption}}</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img src="assets/elec.jpg" alt="icon energy" class="icon energy">
            <img src="assets/elec.jpg" alt="icon energy" class="icon energy">
          </div>
          <div class="name">{{monster().attackName}}</div>
          <div class="damage">{{monster().attackStrenght}}</div>
        </div>
      </div>
      <div class="description">{{monster().attackDescription}}</div>
    </div>
  </div>
</div>
